<%- include("./partials/head.ejs") %>

    <h2>smartzones</h2>
    <ul>
        <% smartzones.forEach(smartzone=> { %>
            <li><a href="">
                <img src="<%= smartzone.image.url %>" alt="">

                <% if (smartzone.reservation==null) { %>
                    Now available
                    <% } else { %>
                        Not available
                        <% } %>

                            <h3>SZ <%= smartzone.name %>
                            </h3>

                            <p>
                                <%= smartzone.address %>,<%= smartzone.town %>
                            </p>
                            <p><span>Price:</span> €1,00 / 15 min</p>
                            <% if (smartzone.reservation !==null) { %>
                                <button style="--reserved: gray;" title="book now">Book now</button>
                                <% } else { %>
                                    <button title="book now">Book now</button>
                                    <% } %>


                                        <button title="book later">Book later</button>
            </a></li>
            <article >
                <img src="<%= smartzone.image.url %>" alt="">
                <header>
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z"/></svg>
                <%= smartzone.address %>
                </header>
                <dl>
                <dt>Name</dt>
                <dd><%= smartzone.address %></dl>
                <dt>Description</dt>
                <dd><%= smartzone.description %></dl>
                <dt>Size</dt>
                <dd><%= smartzone.size %></dl>
                <dt>Utilization</dt>
                <dd><%= smartzone.utilization %></dl>
                </dl>
                <a href="https://www.google.nl/maps/place/<%= smartzone.address %>" target="blank">Bekijken in Google maps</a>
            </article>
        <% }) %>
    </ul>


            <%- include("./nav.ejs") %>

                <%- include("./partials/foot.ejs") %>